html,
body {
    font-family: var(--font);
    font-size: var(--font-normal);
    font-weight: var(--font-weight-lighter);
    overflow-x: hidden !important;
}

h1{
    font-weight: var(--font-weight-800);
    font-size: var(--font-largest);
    word-break: normal;
    display: inherit;
}

a{
    color: var(--primary-color);
    :hover{
        color: #ea004e99;
        text-decoration: none;
    }
}

.mt-120{
    margin-top: 120px;
}

// buttons
.btn-nisave {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: var(--font-medium);
    &:hover {
        background-color: var(--white-color);
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
}

// card
.card{
    background: var(--white-color);
    box-shadow: 0px 0 14px rgb(0 0 0 / 6%), 0px 7px 6px rgb(0 0 0 / 3%);
    border-radius: 5px;
    border: 0;
    padding: 24px 48px 48px;
    justify-content: space-between;
}

//
.faq{
    .owl-nav {
        text-align: left !important;

        button {
            background-color: var(--primary-color) !important;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            text-align: center;
            line-height: 40px !important;
            border-radius: 50% !important;
            margin: 0 !important;
            cursor: pointer !important;

            span {
                font-size: 30px;
            }
        }
        .owl-prev {
            margin-right: 15px !important;
        }
    }
}

#bv-modal-video{
    .modal-content {
        border: 0;
        border-radius: 0;
    }
    .modal-body {
        padding: 0;
    }
}