// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .hero {
        background: url(../imgs/mobile.webp) rgba(0, 0, 0, 0.29) !important;
        background-repeat: no-repeat !important;
            background-blend-mode: overlay !important;
            background-size: cover !important;
    }
    .faq {
        .mt-120 {
            margin-top: 0px !important;
        }
    }
    .video.mt-120 {
        margin-top: 0px !important;
    }
    .mt-120 {
        margin-top: 90px !important;
    }
    .video {
        svg {
                width: 50px !important
            }
    }
    .services{
        margin-top: 160px !important;
        img {
                width: 300px;
                margin: 0 auto;
                margin-top: 45px;
            }
        .card{
            margin: 15px;
            justify-content: center;
            height: auto !important;
        }
    }
    .hero {
        &__content{
            padding-top: 40px;
        }
        .navbar {
            padding: 0.5rem 0rem;
        }
    }
    .footer__dice.small {
        width: 130px !important;
        bottom: 220px !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .hero {
        background: url(../imgs/mobile.webp) rgba(0, 0, 0, 0.29) !important;
        background-repeat: no-repeat !important;
            background-blend-mode: overlay !important;
            background-size: cover !important;
    }
    .faq {
        .mt-120 {
            margin-top: 0px !important;
        }
    }
    .video.mt-120 {
        margin-top: 0px !important;
    }
    .hero {
        &__content{
            padding-top: 40px;
        }
        .navbar {
            padding: 0.5rem 0rem;
        }
    }
    .services {
        margin-top: 160px !important;
        img {
                width: 300px;
                margin: 0 auto;
                margin-top: 45px;
            }
        .card {
            margin: 15px;
            justify-content: center;
            height: auto !important;
        }
    }
    .card{
        padding: 12px 22px 22px !important;
    }
    .footer__dice {
        width: 150px !important;
        bottom: 180px !important;
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .faq {
        .mt-120 {
            margin-top: 0px !important;
        }
    }
    .services {
        margin-top: 160px !important;
    
        img {
            width: 300px;
            margin: 0 auto;
            margin-top: 45px;
        }
    }
    .video.mt-120 {
        margin-top: 0px !important;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}